body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@500&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: #212121; */
  /* color: #fff; */
  background: #fff;
  text-decoration: none;
}
p {
  color: #757575;
}
:root {
  --grey: #757575;
  --primary: #212121;
  --secondary: #2196f3;
  --white: #fff;
  --textcolor:#5777BA;
  --btncolor: #47536E;
}
